body {
    background-color: #DDD;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: #FFF;
    max-width: 1100px;
    padding: 20px 50px;

    /*Centralizando a div container*/
    position: relative;
    margin: 50px auto;
    
    border-radius: 10px;
    box-shadow: 10px 10px 15px 1px #888;
    /* offset-v, offset-h, blur-radius, spread-radius, cor*/
}

.header {
    text-align: center;
}

.main-title {
    font-size: 50px;
    text-shadow: 2px 2px 2px darkgrey;
}

.main-paragraph {
    font-style: italic;
}

.featured-image {
    text-align: center;
    margin-top: 30px;
}

.large-img {
    border-radius: 10px;
}

.biography-container {
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #DDD;
    border-bottom: 1px dashed #DDD;
}

.bold {
    font-weight: bold;
}

.quotes-container {
    background-color: #DDD;
    padding: 30px;
    border-radius: 10px;
}

.quotes-container blockquote {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.quotes-container p {
    font-style: italic;
    text-align: center;
}

.members-container li {
    height: 30px;
}

.media-container {
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #DDD;
    border-bottom: 1px dashed #DDD;
    text-align: center;
}

.media-container img {
    height: 50px;
    margin: 0px 10px;
}

.footer {
    text-align: center;
    font-size: 10px;
}