/* Configuração Mundial */
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* Configuração do corpo do site */
body{
    text-align: center;
    padding: 2rem;
    min-height: 100vh;
    background: linear-gradient(180deg, #7F7FD5 0%, #91EAE4 98%);
}
/* Configuração do Título */
h2{
    margin-bottom: 1rem;
}
/* Configuração do corpo do formulário de cima */
#top-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 300px;
    margin: 1rem auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 1rem;
    border-color: #333;
    
}
/* Configuração da classe form-control, que se trata dos formulários das tabuadas */
.form-control{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    margin: 0 1rem;
}
/*  Configuração das labels do form-control, que se trata do nome do formulário */
.form-control label{
    margin-bottom: 0.6rem;
    font-size: 0.8rem;
    font-weight: bold;
}
/* Configuração dos inputs do form-control, que se trata do container que recebe informações do formulário */
.form-control input{
    margin-bottom: 1rem;
    flex: 1;
    padding: 0.6rem 0.4rem;
    width: 50px;
    border: 1px solid #333;
    border-radius: 5px;
    text-align: center;
}
/* Configuração do botão do formulário de cima */
#top-form input[type="submit"]{
    max-height: 50px;
    padding: 0.6rem 0.4rem;
    width: 200px;
    color: #fff;
    background-color: #333;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
/* Configuração do container que aparece a tabuada */
#tabuada-operations-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    margin: 1rem auto;
    padding: 2rem 1rem;
    background-color: #fff;
    color: #333;
    border-radius: 0.9rem;
}
/* Configuração das colunas das tabuadas */
#tabuada-operations-container .row{
    display: flex;
    justify-content: center;
    border: 1px solid #ccc;
    border-bottom: none;
    padding: 0.5rem;
    width: 150px;
}
/* Configuração do último da coluna */
#tabuada-operations-container .row:last-child{
    border: 1px solid #ccc;
}
/* Configuração do resultado */
#tabuada-operations-container .result{
    margin-left: 0.4rem;
}
