header{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border: 2px solid #ffffff;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem 1rem;
    box-shadow: 10px 10px 15px 1px #000000;
}
header img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.information p{
    display: flex;
    flex-direction: row;
    margin: 1rem auto;
}
.information p::before{
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
    background-repeat: no-repeat;
    background-size: contain;
}
.information .linkedin::before{
    background-image: url('../imgs/InBug-White.png');
}
.information .github::before{
    background-image: url('../imgs/github-mark-white.png');
}
.information .email::before{
    background-image: url('../imgs/email.png');
}
@media only screen and (min-width:768px){
    header{
        display: grid;
        grid-template-areas: 
        "photo title"
        "photo information";
    }
    header img{
        grid-area: photo;
        margin: 0 auto;
    }
    header h1{
        grid-area: title;
        text-align: start;
    }
    header .information{
        grid-area: information;
    }
}