body {
    padding: 0;
    margin: 0;
    padding-bottom: 200px;
}
/*Flex*/
.flex {
    display: flex;
    background-color: #DDD;
    margin-bottom: 20px;
}

/*Column*/
.flex-column {
    display: flex;
    flex-direction: column;
    background-color: #CCC;
    margin-bottom: 20px;
}

/*Wrap*/
.wrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.box {
    height: 40px;
    width: 33%;
    border: 2px solid red;
}
/*Justify content*/
.center {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.center .box {
    width: 50px;
}

.space,
.between,
.end {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

.space .box,
.between .box,
.end .box {
    width: 50px;
}

.space {
    /* Divide igualmente toda a área disponível no container pai entre elementos filhos */
    justify-content: space-around; 
}

.between {
    /* Divide toda a área disponível igualmente, mas sem dar área de respiro em volta*/
    justify-content: space-between;
}

.end {
    justify-content: end;
}

/*Align-items*/
.align-center,
.flex-end,
.stretch {
    display: flex;
    margin-bottom: 20px;
    height: 200px;
    border: 1px solid blue;
}

.align-center .box,
.flex-end .box,
.stretch .box {
    width: 50px;
}

.align-center {
    align-items: center; /*align-items: center coloca o filho no meio vertical do pai*/
    justify-content: center;
}

.flex-end {
    align-items: flex-end; /*Justifica os elementos filhos no bottom do pai*/
}

.stretch {
    align-items: stretch;
}

.stretch .box {
    height: auto;
}

/*GAP*/
.gap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid darkgreen;
    gap: 10px;
}

.gap .box {
    width: 32%;
}

/*ORDER*/
.order {
    display: flex;
}

#one {
    order: 1;
}

#two {
    order: 2;
}

#three {
    order: 3;
}

/*Grow*/
.grow {
    display: flex;
}

.grow .box {
    flex: 1;
}

.grow .big {
    flex: 2; /*Setamos o grow 1 para as outras 2 boxes para que essa tenha uma base de quanto deve crescer*/
}

.basis {
    display: flex;
}

.basis .box {
    flex-basis: 20px;
}

.basis .big {
    flex-grow: 1;
}

.shrink {
    display: flex;
}

.shrink .box {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 250px;
    width: auto;
}

.shrink .small {
    flex-shrink: 3; /*Esse elemento se diminuirá para tentar deixar os outros com 250px de basis que setamos*/
}

.short {
    display: flex;
}

.short .box {
    width: auto;
    flex: 1 1 50px;
}

.short .different {
    flex: 3 1 400px;
}

.auto-alignment {
    display: flex;
    height: 300px;
    align-items: end;
    border: 3px solid purple;
}

.auto-alignment .different {
    align-self: center;
}